body {
    font-family: 'Roboto', sans-serif;
    margin: 0;padding: 0;
    overflow-x: hidden;
    background-color: rgba(215, 210, 210, 0.54);
    font-size: 15px;

}

* {
margin: 0;
padding: 0;
}



.container {
/*    width:70%;*/
   

}
#agent_form {
    background: url("image/background image.png") no-repeat center;
    
    
}
.agent {
background: linear-gradient(90deg, rgba(9,84,0,1) 0%, rgba(27,212,79,25) 45%);
}


#agent_form .from_area {
    width: 100%;
    padding: 5px 5px;
    border: 0px;
    border-bottom: 1px dashed #000;
    
}
#agent_form label{
    margin-top: 10px;
    
    
}

#agent_form .from_area:focus{
  box-shadow: none;
    outline: none;
    
    
}
*::placeholder{
    font-size: 13px;
}

/*  checkbnox area  */
/*  checkbnox area  */



.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
/*    background-color: green;*/
    border-radius: 0px!important;
    border: 3px solid green;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 2rem;
    height: 2rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-radius: 0px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper .btn {
    width: 120px;
    padding: 8px 10px;
    background-color: green;
}

.document {
    font-size: 18px;
}

.treand {
    margin-top: 10px;
}

.Uploadarea {
    margin-top: 10px;
}

#select_another {
    width: 100%;
    padding: 3px 0px;
}

.media a{
    font-size: 15px;
}

.picture {
    float: right;
}

.protgisthan {
    padding: 3px 5px;
    width: 100%;
    margin-top: 10px;
}

.pic {
    width: 150px;height: 140px;
}

.picture {
    width: 200px;height: 200px;
    border: 3px solid green;
}

 #address_area input[type=text]{
    padding: 3px 8px;
    width: 100%;
     margin-top: 5px;
     border: none;
     border-bottom: 1px dashed #000;
} 
#address_area input[type=text]:focus{
  box-shadow: none;
    outline: none;
} 
#address_area label{
    margin: 0;
}

@media screen and (min-width:576px) and (max-width:768px) {
   .picture {
    width: 100px;height: 100px;
    float: left;
}
    
    #address_area label {
        display: none;
    } 
    
    #presend {
        margin-top: 20px;
    }
    
    #presend input[type=text]{
        padding: 8px 0px;
        border-bottom: 1px solid #ccc !inportant;
    }
    
    .agent p {
        font-size: 16px;
    }
    
    #choosefile {
        margin-top: 10px;
    }
    
    .document {
        font-size: 15px;
    }
    
    .prothisthan_name {
        margin-top: 30px;
    }
    
    .treand {
        margin-top: 30px;
    }
    
      .col-4 {
        display: none;
    }
    
    .col-8 {
        display: block;
        margin: auto;
    }
    
    #bdd {
        display: none;
    }
    
    #another_7 {
        display: block;
        margin: auto;
    }
    
    #presend input[type=text]{
        padding: 8px 5px;
    }
}

@media screen and (min-width:360px) and (max-width:480px) {
   .picture {
    width: 100px;height: 100px;
    float: left;
}
     #presend {
        margin-top: 30px;
    }
    
    #presend input[type=text]{
        padding: 8px 5px;
    }
    
    label {
        font-size: 13px!important;
    }
      #address_area label{
        display: none;
    } 
    

    
    p {
        font-size: 13px;
    }
    
    .agent p {
        font-size: 16px;
    }
    
    #choosefile {
        margin-top: 10px;
    }
    
    .document {
        font-size: 15px;
    }
    
    .prothisthan_name {
        margin-top: 30px;
    }
    
    .treand {
        margin-top: 30px;
    }
    
    #address_area label {
        display: none;
    }
    
        #presend input[type=text]{
        padding: 8px 5px;
        border-bottom: 1px solid #ccc !inportant;
    }
    
    .col-4 {
        display: none;
    }
    
    .col-8 {
        display: block;
        margin: auto;
    }
    
     #another_7 {
        display: block;
        margin: auto;
    }
}